
#wrap { width:1235px;position:relative; margin:0 auto; }

div#header {  }
div#contents { width:100%; margin-bottom:80px; display:inline-block; margin-top:10px; }


/* Header */

div.util { text-align:right; }
div.util span { display:inline-block; }
div.util a { margin-top:4px; padding:0 7px; display:block; float:left; border-right:1px solid #dadada; font-family:NanumGothic; font-size:8.5pt; color:#555; }
div.util a.bdown { padding-right:14px; border:0; background:url(/cafe/img/blit/blit-down.jpg) no-repeat right; }
div.util a.btn { margin:0; margin-left:6px; padding:0; border:0; }
div.util a:hover { text-decoration:none; }

div.logo { height:72px; margin-top:18px; background:url(/cafe/img/blit/cafe-icon.jpg) no-repeat left; }
div.logo h1 { padding-top:10px; padding-left:85px; font-family:NanumGothic; font-weight:600; letter-spacing:-1px; }
div.logo p { margin-top:2px; padding-left:87px; color:#bbb; }

div.nav { margin-top:15px; padding:10px 0; border-top:2px solid #ff786b; border-bottom:1px solid #dedede; }
div.nav span { display:inline-block; }
div.nav a { height:12px; padding:0 18px; display:block; float:left; border-right:1px solid #d1d1d1; font-weight:bold; }


/* sub */

div#aside { width:182px; float:left; }
div#aside div.title_ { padding:10px; border:1px solid #dedede; }
div#aside div.title_ ul.top_ li { margin:3px 0; }
div#aside div.title_ ul.top_ li span { margin-left:55px; position:absolute; font-size:8.8pt; color:#f77263; }
div#aside div.title_ ul.top_ li a { float:right; font-size:8.5pt; color:#a1a1a1; text-decoration:underline; }
div#aside div.title_ ul.top_ li.nick { height:14px; margin:0; margin-bottom:8px; padding-top:3px; padding-left:25px; background:url(/cafe/img/blit/abata.jpg) no-repeat left; }
div#aside div.title_ ul.bot_ { margin-top:10px; border-top:1px solid #dedede; }
div#aside div.title_ ul.bot_ li.info { margin-top:8px; margin-bottom:5px; }
div#aside div.title_ ul.bot_ li.info a { padding-left:15px; background:url(/cafe/img/blit/blit-down.jpg) no-repeat 0 0; }
div#aside div.title_ ul.bot_ li.etc { margin-top:10px; padding-top:7px; border-top:1px solid #dedede; text-align:center; }
div#aside div.title_ ul.bot_ li.etc span { display:inline-block; }
div#aside div.title_ ul.bot_ li.etc a { height:12px; padding:0 8px; display:block; float:left; border-right:1px solid #dedede; font-weight:bold; }
div#aside div.title_ ul.bot_ li.etc a.last_ { border:0; }
div#aside div.lnb { margin-top:5px; }
div#aside div.lnb ul li { padding:8px 0; padding-left:12px; border-bottom:1px solid #545454; }
div#aside div.lnb ul li.bt_ { border:0; }
div#aside div.lnb ul li p { padding:2px 0; }
div#aside div.lnb ul li a:hover { text-decoration:underline; }
div#aside div.lnb ul li p.active a { font-weight:bold; text-decoration:underline; }
div#aside div.lnb ul li span { width:11px; height:11px; position:relative; display:inline-block; background-repeat:no-repeat; background-position:center; text-indent:-9999px; .font-size:0; .text-indent:0; }
div#aside div.lnb ul li span.bi_ { margin-right:3px; }
div#aside div.lnb ul li span.recent { top:1px; background-image:url(/cafe/img/blit/recent.jpg); }
div#aside div.lnb ul li span.hit { top:1px; background-image:url(/cafe/img/blit/hit.jpg); }
div#aside div.lnb ul li span.story { background-image:url(/cafe/img/blit/story.jpg); }
div#aside div.lnb ul li span.album { background-image:url(/cafe/img/blit/album.jpg); }
div#aside div.lnb ul li span.qna { top:1px; background-image:url(/cafe/img/blit/qna.jpg); }
div#aside div.lnb ul li span.talk { background-image:url(/cafe/img/blit/talk.jpg); }
div#aside div.lnb ul li span.rss { top:1px; background-image:url(/cafe/img/blit/rss.jpg); }
div#aside div.lnb ul li span.image { top:1px; background-image:url(/cafe/img/blit/image.jpg); }
div#aside div.lnb ul li span.movie { top:1px; background-image:url(/cafe/img/blit/movie.jpg); }
div#aside div.lnb ul li span.dot { top:1px; background-image:url(/cafe/img/blit/dot.jpg); }
div#aside div.lnb ul li span.new { margin-left:2px; background-image:url(/cafe/img/blit/new.jpg); }
div#aside div.search { width:100%; display:inline-block; }
div#aside div.search .fl_ { width:136px; height:17px; border:1px solid #ded0cd; background:#fbfaf8; float:left; }
div#aside div.search .fr_ { float:right; }
div#aside div.add { margin-top:15px; font-size:8.8pt; }

div#details { width:774px; float:right; }
div#details p.tt_ { padding-bottom:5px; padding-left:12px; border-bottom:1px solid #787878; font-size:15px; font-weight:bold; color:#f67266; letter-spacing:-2px; }
div#details p.tt_ a { .margin-top:-22px; margin-right:15px; padding-right:10px; float:right; background:url(/cafe/img/blit/more.jpg) no-repeat 32px 4px; font-size:8.5pt; font-weight:normal; color:#aeaeae; }
div#details div.recent { margin-top:35px; }

div#sub-title span { margin-top:20px; display:inline-block; }
div#sub-title span.title { font-size:15px; font-weight:bold; color:#f67266; letter-spacing:-2px; }
div#sub-title span.text { height:12px; margin-left:7px; padding-left:7px; border-left:1px solid #e9e9e9; }
div#sub-title a.more { margin-top:20px; padding-right:10px; float:right;  background:url(/cafe/img/blit/blit-downn.jpg) no-repeat 40px 3px; }
div#sub-title.top { padding-bottom:5px; border-bottom:2px solid #f67266; }
div#sub-title.top span { margin-top:2px !important; }

div#con__ { margin-top:18px; } 

div.board ul li { height:20px; padding-top:10px; padding-left:5px; border-bottom:1px solid #e5e5e5; }

div.gallery { margin-top:50px; }
div.gallery div.mimage { width:380px;}
div.gallery div.mimage div.area { text-align:center; }
div.gallery div.mimage ul { width:344px; margin-top:6px; display:inline-block; }
div.gallery div.mimage ul li { margin:8px 8px 0 0; float:left; border:1px solid #e5e5e5; background:#f2f2f2; }
div.gallery div.mimage ul li.last_ { margin-right:0; }
div.gallery div.mimage ul li a { width:78px; display:block; }

div.gallery div.movie { float:left; }
div.gallery div.movie ul li a { height:58px; }
div.gallery div.image { float:right; }
div.gallery div.image ul li a { height:78px; }


/* board */

div.top-btn { padding:4px 0 0 12px; border-top:1px solid #f2f2f2; border-bottom:1px solid #d5d5d5; background:#f7f7f7; }

table.list_ { width:100%; }
table.list_ th { padding:9px 0 6px 0; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; font-size:8.5pt; font-weight:normal; }
table.list_ td { padding:9px 0 6px 0; border-bottom:1px solid #e9e9e9; font-size:8.5pt; text-align:center; }
table.list_ td.num span { margin-left:5px; position:relative; bottom:4px; font-size:8.5pt; }
table.list_ td.num input { position:relative; bottom:2px; }
table.list_ td.sj_ { padding-left:20px; font-size:12px; text-align:left; }
table.list_ td.sj_ a:hover { text-decoration:underline; }
table.list_ td.nm_ { font-size:12px; }

div.view_ div.tbtn { width:100%; display:inline-block; }
div.view_ div.tbtn div { width:49%; margin-top:-3px; }
div.view_ div.tbtn div.left_ { margin-left:1%; float:left; }
div.view_ div.tbtn div.right_ { margin-top:2px; margin-right:1%; float:right; text-align:right; }
div.view_ div.tbtn div.right_ a { height:11px; margin-right:5px; padding-right:10px; display:inline-block; border-right:1px solid #e9e9e9; }
div.view_ div.tbtn div.right_ a.blit { padding-left:9px; background-repeat:no-repeat; background-position:0 3px; }
div.view_ div.tbtn div.right_ a.blit.top { background-image:url(/cafe/img/blit/top.jpg); }
div.view_ div.tbtn div.right_ a.blit.bot { margin-right:0; padding-right:0; border:0; background-image:url(/cafe/img/blit/bottom.jpg); }

div.view_ dl dt { padding:15px 20px 12px 20px; border-top:1px solid #d5d5d5; border-bottom:1px dashed #ccc; }
div.view_ dl dt span { height:11px; display:inline-block; }
div.view_ dl dt span.sj_ { margin-right:5px; padding-right:10px; border-right:1px solid #e9e9e9; font-weight:bold; }
div.view_ dl dt span.text { color:#999; }
div.view_ dl dd { padding:10px 20px; }
div.view_ dl dd.info span { height:10px; margin-right:5px; padding-right:10px; display:inline-block; border-right:1px solid #e9e9e9; font-size:8.5pt; }
div.view_ dl dd.info span.rating { padding-right:20px; background:url(/cafe/img/blit/blit-downn.jpg) no-repeat 48px 3px; }
div.view_ dl dd.info span.last_ { margin:0; padding:0; border:0; }
div.view_ dl dd.info a.copy { padding-right:25px; float:right; background:url(/cafe/img/btn/copy.jpg) no-repeat right; font-size:8.5pt; line-height:16px; color:#999; }
div.view_ dl dd.info a.copy:hover { text-decoration:underline; }
div.view_ dl dd.contents { min-height:100px; padding:30px 20px; }
div.view_ dl dd.reply { padding-left:0; padding-right:0; }
div.view_ dl dd.reply div.left_ { float:left; }
div.view_ dl dd.reply div.left_ p { padding-left:8px; }
div.view_ dl dd.reply div.left_ p.num { margin-bottom:15px; padding-left:15px; font-weight:bold; color:#ff5949; text-decoration:underline; }
div.view_ dl dd.reply div.right_ { float:right; }
div.view_ dl dd.reply div.right_ span { height:20px; margin-left:8px; padding-top:7px; position:relative; display:inline-block; border:1px solid #d5d5d5; }
div.view_ dl dd.reply div.right_ span a:hover { text-decoration:underline; }
div.view_ dl dd.reply div.right_ span.recommend { width:24px; padding-left:20px; background:url(/cafe/img/blit/recommend.jpg) no-repeat 6px 5px; }
div.view_ dl dd.reply div.right_ span.recommend a { font-weight:bold; color:#ff5949; }
div.view_ dl dd.reply div.right_ span.sel { height:27px; padding-top:0; bottom:1px; }
div.view_ dl dd.reply div.right_ span.sel select { width:60px; height:100%; border:0; vertical-align:middle; }
div.view_ dl dd.reply div.right_ span.scrap { width:26px; margin-left:-5px; font-weight:bold; color:#ff5949; text-align:center; }
div.view_ dl dd.reply div.right_ span.etc { border:0; }
div.view_ dl dd.reply div.right_ span.etc a { display:inline-block; font-size:8.5pt; }
div.view_ dl dd.reply div.right_ span.etc a.first_ { height:12px; padding-right:5px; margin-right:2px; border-right:1px solid #d5d5d5; }
div.view_ dl dd.reply div.area { width:96%; padding:18px 2%; clear:both; border:1px solid #f2f2f2; border-bottom:1px solid #e9e9e9; background:#f7f7f7; }
div.view_ dl dd.reply div.area div.input input { float:right; }
div.view_ dl dd.reply div.area div.input textarea { width:645px; height:44px; float:left; border:1px solid #e9e9e9; }
div.view_ dl dd.reply div.area div.sti { padding-top:4px; clear:both; }
div.view_ dl dd.reply div.area div.sti span {  }
div.view_ dl dd.reply div.area div.sti span.kers { margin-left:12px; position:relative; top:-6px; }
div.view_ dl dd.reply div.area div.sti span.quantity { margin:3px 62px 0 0; float:right; font-size:8.5pt; }
div.view_ dl dd.reply div.search { margin-top:20px; text-align:center; }
div.view_ dl dd.reply div.search input { vertical-align:middle;  }
div.view_ dl dd.reply div.search input[type=text] { height:17px; border:1px solid #ddd; background:white; }
div.view_ dl dd.reply div.search select { height:21px; border:1px solid #ddd; }

ul.write_ li.option select { height:21px; border:1px solid #ddd; }
ul.write_ li.option label { margin-left:5px; letter-spacing:-1px; }
ul.write_ li.option label input { position:relative; bottom:2px; vertical-align:middle; }
ul.write_ li.subject { margin-top:5px; }
ul.write_ li.subject input { width:100%; height:25px; border:1px solid #ddd; }
ul.write_ li.content { margin-top:15px; }
ul.write_ li.content p { text-align:right; font-size:8.8pt; }
ul.write_ li.content p strong { color:#7078ea; }
ul.write_ li.content textarea { width:96%; height:150px; margin-top:2px; padding:2%; border:1px solid #ddd; }

ul.setting { margin-top:15px; padding-bottom:25px; border-bottom:1px solid #e9e9e9; }
ul.setting li { margin-top:10px; }
ul.setting li span { display:inline-block; }
ul.setting li span.sj_ { width:70px; font-weight:bold; }
ul.setting li span.bd_ { height:12px; margin-right:5px; padding-right:10px; border-right:1px solid #e9e9e9; }
ul.setting li span a { text-decoration:underline; }
ul.setting li span a.btn { margin-left:8px; position:relative; top:6px; }

div.pagging { margin-top:12px; text-align:center; }
div.pagging a.left { margin-top:-5px; position:absolute; }
div.pagging span { display:inline-block; }
div.pagging span a { margin:0 5px; display:block; float:left; font-weight:bold; color:#9a9a9a; }
div.pagging span a:hover { text-decoration:underline; }
div.pagging span a.prev { padding-left:8px; background:url(/cafe/img/blit/prev.jpg) no-repeat 0 4px; }
div.pagging span a.next { padding-right:8px; background:url(/cafe/img/blit/next.jpg) no-repeat 30px 4px; }
div.pagging span a.active { color:#ee6a51; }

div.board-search { margin-top:40px; margin-left:20px; }
div.board-search input[type=text] { height:17px; border:1px solid #ddd; }
div.board-search input { vertical-align:middle; }
div.board-search select { height:21px; border:1px solid #ddd; font-size:12px; vertical-align:middle; }
div.board-search a.my { padding-right:10px; background:url(/cafe/img/blit/new.jpg) no-repeat 106px 0; font-size:8.5pt; text-decoration:underline; }

div.board-ex { margin-top:30px; margin-left:20px; padding:12px 18px 8px 18px; background:#f7f7f7; }
