/* Header */

div#header { height:65px; border-bottom:1px solid #ddd; }
div#header div.area { width:978px; margin:0 auto; position:relative; }
div#header h1 { position:absolute; top:12px; }


/* Footer */

div#footer { padding:30px 0; font-size:11px; color:#555; text-align:center; }


/* Sub */

div#sub { margin-top:35px; }


/* Login */

div.login { width:650px; margin:0 auto; border:5px solid #ddd; }
div.login ul { width:100%; display:inline-block; }
div.login li.bb_ { border-bottom:2px solid #c9dde3; }
div.login li.fl_ { width:330px; padding:30px 20px; }
div.login li p.tt_ { font-size:20px; font-weight:bold; }
div.login li ul { margin-top:15px; }
div.login li ul li.idpw { float:left; }
div.login li ul li.idpw span { width:66px; display:inline-block; }
div.login li ul li.idpw span.ml3_ { width:auto; font-size:12px; }
div.login li ul li.idpw input[type=text], div.login li ul li.idpw input[type=password] { width:180px; height:22px; line-height:22px; }
div.login li ul li.idpw select { height:26px; position:relative; bottom:1px; }
div.login li ul li.btn { float:right; }
div.login li ul li.btn input { width:75px; height:57px; font-size:14px; font-weight:bold; }
div.login li ul li.util_ { width:100%; padding-top:5px; clear:both; text-align:right; }
div.login li ul li label { margin-left:4px; padding-right:2px; }
div.login li ul li label input { position:relative; bottom:1px; vertical-align:middle; }
div.login li div.find_ { margin-top:15px; padding-top:10px; border-top:1px solid #c9dde3; }
div.login li div.find_ p { margin-top:5px; font-size:8pt; letter-spacing:0; }
div.login li div.find_ p a { margin-left:3px; padding:1px 4px; display:inline-block; font-size:8pt; }
div.login li.etc_ { padding:20px; padding-top:24px; border-top:1px solid #ddd; background:#f9f9f9; text-align:center; }
div.login li.etc_ p { margin:3px 0; font-size:8.5pt; color:#555; letter-spacing:-1px; }
div.login li.fr_ { width:218px; min-height:250px; padding:0 30px; border-left:2px solid #ddd; background:#f9f9f9; }
div.login li.fr_.download { min-height:440px !important; }
div.login li.fr_.download p.big_ { margin-top:0 !important; }
div.login li.fr_  p.big_ { margin-top:0; margin-bottom:30px; padding-top:40px; background:url(/home/img/ico//login-benefits.jpg) no-repeat top; font-size:22px; font-weight:900; text-align:center; }
div.login li.fr_  p.big_ .fgreen_ { text-decoration:underline; }
div.login li.fr_ dl { width:100%; margin:8px 0; display:inline-block; clear:both; }
div.login li.fr_ dl dt, div.login li.fr_ dl dd { display:block; float:left; font-size:14px; color:#666; }
div.login li.fr_ dl dt { width:12px; line-height:1.4em; }
div.login li.fr_ dl dd { width:206px; font-size:13px; line-height:1.4em; }
div.login li div.bbtn { margin-top:15px; padding-top:5px; text-align:center; }
div.login li div.bbtn input { padding:5px 10px; font-weight:bold; }
div.login li div.QR { margin-top:20px; text-align:center; }
div.login li div.QR img { margin:0 10px; padding:3px; border:3px solid #222; }
div.login a.cerate { width:120px; margin-top:69px; margin-left:49px; padding:10px 0; display:inline-block; background:#cf0000; font-size:14px; color:white; text-align:center; }
div.login a.cerate:hover { background:#e61919; }


/* ID/PW Popup */

div.fade_ { width:100%; height:100%; display:none; position:fixed; top:0; left:0; background:url(/home/img/img//fadebg.png); z-index:99999; }
div.poparea { width:100%; display:none; position:fixed; top:0; left:0; z-index:99999; text-align:center; }
div.poparea.special div.sipsil { width:830px; margin:0 auto; margin-top:10%; background:white; }
div.poparea.special div.sipsil div.pop { width:100% !important; }
div.poparea.special div.mbtn { margin-bottom:25px; }
div.poparea div.pop.big { width:900px !important; margin-top:5% !important; }
div.poparea div.pop.big h6 a { padding:0 5px; position:absolute; right:10px; background:white; font-size:12px; }
div.poparea div.pop { width:422px; margin-top:10%; display:inline-block; border:1px solid #aaa; background:white; }
div.poparea div.pop h6 { padding:10px 20px; position:relative; background:#0e50a7; color:white; font-size:15px; font-weight:600; }
div.poparea div.pop div.details { padding:15px 30px; border-bottom:1px solid #ddd; }
div.poparea div.pop div.details p.tc_ { margin-top:10px; }
div.poparea div.pop div.details p.explanation { font-size:8.5pt; }
div.poparea div.pop div.details p.explanation strong { font-size:16px; font-weight:600; }
div.poparea div.pop div.details div.find-select { width:100%; margin-top:15px; display:inline-block; text-align:center; }
div.poparea div.pop div.details div.find-select label { width:112px; margin-right:8px; display:inline-block; text-align:center; }
div.poparea div.pop div.details div.find-select label.last_ { margin:0; }
div.poparea div.pop div.details div.find-select label input { width:12px; margin-top:8px; }
div.poparea div.pop div.details div.find-select label p { margin-top:2px; font-size:8pt; }
div.poparea div.pop div.details div.find-inline { width:100%; margin-top:15px; margin-bottom:-15px; padding-top:10px; display:inline-block; border-top:1px solid #ddd; text-align:center; }
div.poparea div.pop div.details div.find-inline label { margin:0 20px; font-size:14px; }
div.poparea div.pop div.details div.find-inline label input { position:relative; bottom:2px; vertical-align:middle; }
div.poparea div.pop div.details div.box_ { margin-top:15px; padding:15px 20px; border:1px solid #ddd; }
div.poparea div.pop div.details table { width:100%; }
div.poparea div.pop div.details table th, div.poparea div.pop div.details table td { padding:3px 0; font-size:12px; }
div.poparea div.pop div.details table th { width:70px; text-align:left; }
div.poparea div.pop div.details table td input[type=text] { width:135px; height:15px; line-height:15px; }
div.poparea div.pop div.details table td span { font-size:12px; }
div.poparea div.pop div.details table td label input { position:relative; bottom:1px; vertical-align:middle; }
div.poparea div.pop p.line { margin:25px 0 15px 0; border-bottom:1px solid #ddd; }
div.poparea div.pop div.mbtn { margin-top:10px !important; border:0; }
div.poparea div.pop div.mbtn p { margin-bottom:10px; font-size:12px; }
div.poparea div.pop div.view_ { margin-right:10px; margin-bottom:10px; }
div.poparea div.pop div.view_ a { width:50px !important; height:13px !important; padding-top:3px !important; }
div.poparea div.other span { margin-bottom:5px; display:block; font-weight:bold; }
div.poparea div.other input[type=text] { width:100%; }
div.poparea div.other input { vertical-align:middle; }
div.poparea div.other div.conn { margin-top:10px; }
div.poparea div.other div.conn textarea { width:100%; }
div.poparea table.recom { width:100%; margin-top:10px; margin-bottom:20px; border-top:2px solid #999; }
div.poparea table.recom th { width:100px !important; }
div.poparea table.recom th span { padding-left:15px !important; }
div.poparea table.recom th, div.poparea table.recom td { padding:8px 0 !important; border-bottom:1px solid #ddd; }
div.poparea table.recom th { background:#f5f5f5; }
div.poparea table.recom td { padding-left:15px !important; }
div.poparea table.recom td input[type=text] { padding-right:3px; text-align:right; }
div.poparea div.search-details { margin:15px 0; }
div.poparea div.search-details p.tt { margin-top:30px; margin-bottom:8px; padding:0 0 5px 5px; border-bottom:1px solid #ddd; font-size:16px; font-weight:bold; }
div.poparea div.search-details p.tt.top { margin-top:0; }
div.poparea div.search-details ul { margin-top:10px; padding:10px 0; display:none; overflow:hidden; border-top:1px solid #ddd; border-bottom:1px solid #ddd; }
div.poparea div.search-details ul li { width:31.33%; margin:5px 0; padding:0 1%; float:left; letter-spacing:-0.5px; }
div.poparea div.search-details ul li a { color:#0072bc; }
div.poparea div.search-details ul li a:hover { text-decoration:underline; }
div.poparea table.inquire { width:100%; }
div.poparea table.inquire th { width:80px; background:#f5f5f5; text-align:center !important; }
div.poparea table.inquire th, div.poparea table.inquire td { border:1px solid #ddd; }
div.poparea table.inquire td { padding:8px !important; }
div.poparea table.inquire td label input { margin-left:0 !important; }
div.poparea table.inquire td span { margin-left:4px; display:inline-block; font-size:8pt !important; font-weight:normal; letter-spacing:-1px; color:#888; }
div.poparea table.inquire td .big { width:280px !important; }
div.poparea div.ksearch { margin-top:20px; padding-bottom:25px; overflow:hidden; border-bottom:1px solid #ddd; }
div.poparea div.ksearch div { width:32%; margin-right:2%; float:left; text-align:center; }
div.poparea div.ksearch div.last { margin-right:0; }
div.poparea div.ksearch div p.img { height:60px; }
div.poparea div.ksearch div p input { height:20px; }
div.poparea div.ksearch div p input[type=button] { height:24px; margin-left:-5px; background:#0072bc; color:white; }
div.poparea div.kbtn { margin-top:10px; padding:0 20px; overflow:hidden; }
div.poparea div.kbtn a { width:18.4%; margin-right:2%; padding:10px 0; display:block; float:left; background:#888; color:white; text-align:center; cursor:pointer; }
div.poparea div.kbtn a.last { margin-right:0; }


/* Register */

div.process { padding:15px 0 25px 0; border-bottom:2px dashed #ddd; text-align:center; }
div.process ul { display:inline-block; }
div.process ul li { height:55px; padding-top:10px; padding-left:85px; float:left; background-repeat:no-repeat; font-size:25px; font-weight:600; color:#ccc; }
div.process ul li p { font-size:15px; color:#ccc; }
div.process ul li span { width:27px; height:43px; margin:0 30px; position:relative; bottom:15px; float:right; display:inline-block; background-image:url(/home/img/ico//member-join-blit.png); text-indent:-9999px; }
div.process ul.product li span { margin:0 60px; } 
div.process ul li.first { background-image:url(/home/img/ico//member-join1-off.png); background-position:0 15px; }
div.process ul li.second { background-image:url(/home/img/ico//member-join2-off.png); }
div.process ul li.third { background-image:url(/home/img/ico//member-join3-off.png); background-position:0 15px; }
div.process ul li.active, div.process ul li.active p { color:#0072bc; }
div.process ul li.active span { background-position:-27px 0; }
div.process ul li.activv span { background-position:-27px 0; }
div.process ul li.first.active { background-image:url(/home/img/ico//member-join1-on.png); }
div.process ul li.second.active { background-image:url(/home/img/ico//member-join2-on.png); }
div.process ul li.third.active { background-image:url(/home/img/ico//member-join3-on.png); }

div.register { width:790px; margin:0 auto; margin-top:30px; }
div.register p.tt-big { font-size:22px; font-weight:bold; }
div.register p.tt-big span.step { margin-right:5px; font-size:22px; color:#006699; }
div.register p.tt-big span.requ { margin-left:10px; }
div.register p.tt-small { margin-top:5px; font-size:14px; }
div.register div.box { margin-top:8px; padding:30px 15px; background:#f5f5f5; }
div.register div.box p.stt { font-size:16px; font-weight:600; }
div.register div.box p.stt span { margin-left:5px; }
div.register div.box div.explanation { height:80px; padding:10px; margin-top:5px; overflow-x:hidden; overflow-y:scroll; border:1px solid #ddd; background:white; }
div.register div.box label { width:100%; margin-bottom:20px; padding:8px 0 20px 0; display:inline-block; border-bottom:1px solid #ddd; text-align:right; }
div.register div.box label input { vertical-align:middle; }
div.register div.box div.tc_ label { width:550px; padding:10px 0; border:0; background:#eaeaea; font-weight:bold; text-align:center; }
div.register div.auth { width:100%; margin-top:10px; display:inline-block; }
div.register div.auth a { width:392px; padding:30px 0; display:block; border:1px solid #e0edf8; background:#e0edf8; text-align:center; }
div.register div.auth a:hover { border:1px solid #0072bc; background:white; }
div.register div.auth a span { height:40px; padding-top:14px; display:inline-block; background-repeat:no-repeat; font-size:18px; font-weight:600; }
div.register div.auth a:hover span { color:#0072bc; }
div.register div.auth a.fl_ span { padding-left:100px; background-image:url(/home/img/ico/member-auth1-off.png); }
div.register div.auth a.fl_:hover span { background-image:url(/home/img/ico/member-auth1-on.png); }
div.register div.auth a.fr_ span { padding-left:50px; background-image:url(/home/img/ico/member-auth2-off.png); }
div.register div.auth a.fr_:hover span { background-image:url(/home/img/ico/member-auth2-on.png); }
div.register ul.stats { width:100%; margin-top:10px; display:inline-block; }
div.register ul.stats li { width:25%; float:left; background:#f2f4f6; }
div.register ul.stats li.active { background:#ebf3f9; }
div.register ul.stats li span { width:90%; height:30px; padding-top:11px; padding-right:10%; display:inline-block; float:right; background:url(/home/img/ico//member-process-blit.png) no-repeat right; font-size:15px; text-align:center; }
div.register ul.stats li.active span { font-weight:600; color:#0072bc; }
div.register ul.stats li.last span { background:none; }
div.register div.expanation { margin-top:10px; padding:20px; border:1px solid #ddd; }
div.register div.expanation p.sj { padding-left:15px; background:url(/home/img/ico//member-required.png) no-repeat left; }
div.register div.expanation p.con { margin-top:5px; padding-left:8px; }
div.register div.expanation p.con span { position:relative; margin-left:-11px; }
div.register div.expanation p.bt { margin-top:5px; padding:12px; background:#f5f5f5; }
div.register span.requ { padding-left:15px; background:url(/home/img/ico//member-required.png) no-repeat left; font-weight:normal; }
div.register span.no-requ { width:100%; padding-left:15px; display:inline-block; }
div.register table.write { width:100%; margin-top:5px; border-top:2px solid #777; }
div.register table.write.full_ th { width:120px; }
div.register table.write.full_ td { width:670px; }
div.register table.write th, div.register table.write td { padding:12px; border-bottom:1px solid #ddd; text-align:left; vertical-align:top; }
div.register table.write th { width:150px; background:#f7f8fb; }
div.register table.write th span { font-weight:bold; }
div.register table.write td { width:285px; .width:450px; }
div.register table.write td strong { margin-bottom:3px; display:inline-block; }
div.register table.write td label { display:inline-block; }
div.register table.write td label input { position:relative; bottom:1px; vertical-align:middle; }
div.register table.write td span.blit_ { margin:0 3px; }
div.register table.write td a.btn { min-width:50px; margin-left:3px; margin-right:-2px; padding:0 3px; position:relative; bottom:1px; display:inline-block; border:1px solid #1e6495; background:#3a73a5; font-size:11px; color:white; text-align:center; }
div.register table.write td a.btn.del { border:1px solid #999; background:white !important; color:#333 !important; }
div.register table.write td a.btn:hover { background:#22537d; text-decoration:none; }
div.register table.write td a.btn.del:hover { border:1px solid #333; }
div.register table.write td.point textarea { height:100px; margin-top:10px; }
div.register table.write td.point label { width:100%; margin-top:5px; display:inline-block; font-size:12px; }
div.register table.write td.point label input {  }
div.register table.write td.point label a { margin-left:3px; padding:2px 5px; border:1px solid #ccc; background:#f5f5f5; color:#0072bc; }
div.register table.write td.point label a:hover { border:1px solid #0072bc; text-decoration:none; }
div.register table.write td.tt { padding:12px 0 5px 12px; font-size:14px; font-weight:bold; color:#0072cb }
div.register table.write td.add { border:0; padding:10px 0 0 0; text-align:right; }
div.register table.write .end_ th { border-bottom:1px solid #777; }
div.register table.write .end_ td { border-bottom:1px solid #777; }
div.register table.write.hl { border-top:2px solid #aac5cb !important; }
div.register table.write.hl th, div.register table.write.hl_ td { border-bottom:1px solid #d4e2e6 !important; }
div.register table.write.hl th { width:120px; background:#ecf3f4 !important; }
div.register table.write.hl td { width:670px; font-size:12px; letter-spacing:0; }
div.register div.register-complete { margin-top:50px; text-align:center; }
div.register div.register-complete div.text { height:57px; padding:5px 0 0 70px; display:inline-block; background:url(/home/img/ico//rcomplete.jpg) no-repeat left; }
div.register div.register-complete div.text p { font-weight:600; }
div.register div.register-complete div.text p.big { font-size:25px; }
div.register div.register-complete div.text p.small { font-size:15px; color:#666; }

div.benefits { width:943px; margin:0 auto; margin-top:80px; padding:10px; border:1px solid #d5e1eb; background:#f1f6fa; }
div.benefits p { padding-left:10px; font-size:18px; font-weight:600; }
div.benefits ul { margin-top:10px; padding:30px 0; display:inline-block; background:white; }
div.benefits ul li { height:36px; margin:0 10px; float:left; background-repeat:no-repeat; background-position:left; }
div.benefits ul li.one { padding-left:68px; background-image:url(/home/img/ico//rcom1.jpg); }
div.benefits ul li.two { padding-left:60px; background-image:url(/home/img/ico//rcom2.jpg); }
div.benefits ul li.three { padding-left:48px; background-image:url(/home/img/ico//rcom3.jpg); }
div.benefits ul li.four { padding-left:58px; background-image:url(/home/img/ico//rcom4.jpg); }
