<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="bucheon" stopProcessing="true">
                    <match url="^bucheon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="bucheon_sw" stopProcessing="true">
                    <match url="^bucheon_sw" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="dalalum" stopProcessing="true">
                    <match url="^dalalum" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="gyesan" stopProcessing="true">
                    <match url="^gyesan" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="hankangnewcity" stopProcessing="true">
                    <match url="^hankangnewcity" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="hansinjanggi" stopProcessing="true">
                    <match url="^hansinjanggi" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="hanwul" stopProcessing="true">
                    <match url="^hanwul" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_ara" stopProcessing="true">
                    <match url="^ic_ara" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_backhyeon" stopProcessing="true">
                    <match url="^ic_backhyeon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_baegot" stopProcessing="true">
                    <match url="^ic_baegot" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_bcops" stopProcessing="true">
                    <match url="^ic_bcops" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_bujung" stopProcessing="true">
                    <match url="^ic_bujung" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_bukkam" stopProcessing="true">
                    <match url="^ic_bukkam" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_bullo" stopProcessing="true">
                    <match url="^ic_bullo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_bumbak" stopProcessing="true">
                    <match url="^ic_bumbak" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_bupyeong" stopProcessing="true">
                    <match url="^ic_bupyeong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_busamo" stopProcessing="true">
                    <match url="^ic_busamo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_buwon" stopProcessing="true">
                    <match url="^ic_buwon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_chulma" stopProcessing="true">
                    <match url="^ic_chulma" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_chungra" stopProcessing="true">
                    <match url="^ic_chungra" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_chungsong" stopProcessing="true">
                    <match url="^ic_chungsong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_dangbu" stopProcessing="true">
                    <match url="^ic_dangbu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_dowool" stopProcessing="true">
                    <match url="^ic_dowool" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_eo" stopProcessing="true">
                    <match url="^ic_eo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_gajeonggigu" stopProcessing="true">
                    <match url="^ic_gajeonggigu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_galsan" stopProcessing="true">
                    <match url="^ic_galsan" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_ggumyeonwha" stopProcessing="true">
                    <match url="^ic_ggumyeonwha" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_gochon" stopProcessing="true">
                    <match url="^ic_gochon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_gojungyeon" stopProcessing="true">
                    <match url="^ic_gojungyeon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_gurae" stopProcessing="true">
                    <match url="^ic_gurae" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_gyegong4u" stopProcessing="true">
                    <match url="^ic_gyegong4u" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_gyeyang" stopProcessing="true">
                    <match url="^ic_gyeyang" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_hakgongun" stopProcessing="true">
                    <match url="^ic_hakgongun" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_hana" stopProcessing="true">
                    <match url="^ic_hana" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_hangang" stopProcessing="true">
                    <match url="^ic_hangang" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_hansin" stopProcessing="true">
                    <match url="^ic_hansin" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_incheonfree" stopProcessing="true">
                    <match url="^ic_incheonfree" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_inhyang" stopProcessing="true">
                    <match url="^ic_inhyang" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_janghyeon" stopProcessing="true">
                    <match url="^ic_janghyeon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_jangki" stopProcessing="true">
                    <match url="^ic_jangki" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_jsdh" stopProcessing="true">
                    <match url="^ic_jsdh" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_jungang" stopProcessing="true">
                    <match url="^ic_jungang" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_kagong" stopProcessing="true">
                    <match url="^ic_kagong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_keumam" stopProcessing="true">
                    <match url="^ic_keumam" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_keumdanara" stopProcessing="true">
                    <match url="^ic_keumdanara" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_keumdansa" stopProcessing="true">
                    <match url="^ic_keumdansa" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_kilju" stopProcessing="true">
                    <match url="^ic_kilju" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_kochang" stopProcessing="true">
                    <match url="^ic_kochang" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_magokjigu" stopProcessing="true">
                    <match url="^ic_magokjigu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_magokjigusangga" stopProcessing="true">
                    <match url="^ic_magokjigusangga" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_mansa" stopProcessing="true">
                    <match url="^ic_mansa" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_mansu3" stopProcessing="true">
                    <match url="^ic_mansu3" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_mibu" stopProcessing="true">
                    <match url="^ic_mibu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_mokgam" stopProcessing="true">
                    <match url="^ic_mokgam" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_nambu" stopProcessing="true">
                    <match url="^ic_nambu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_namdonggu" stopProcessing="true">
                    <match url="^ic_namdonggu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_namgu" stopProcessing="true">
                    <match url="^ic_namgu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_namsamo" stopProcessing="true">
                    <match url="^ic_namsamo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_neungkok" stopProcessing="true">
                    <match url="^ic_neungkok" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_nongong" stopProcessing="true">
                    <match url="^ic_nongong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_nowjungdong" stopProcessing="true">
                    <match url="^ic_nowjungdong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_oido" stopProcessing="true">
                    <match url="^ic_oido" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_ojung" stopProcessing="true">
                    <match url="^ic_ojung" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_openclimb" stopProcessing="true">
                    <match url="^ic_openclimb" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_pazu" stopProcessing="true">
                    <match url="^ic_pazu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_podoboram" stopProcessing="true">
                    <match url="^ic_podoboram" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_pungmojungang" stopProcessing="true">
                    <match url="^ic_pungmojungang" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_pungnyeon" stopProcessing="true">
                    <match url="^ic_pungnyeon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_saebitkdwd" stopProcessing="true">
                    <match url="^ic_saebitkdwd" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_sangbu" stopProcessing="true">
                    <match url="^ic_sangbu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_sannumeo" stopProcessing="true">
                    <match url="^ic_sannumeo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_sao" stopProcessing="true">
                    <match url="^ic_sao" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_sawoou" stopProcessing="true">
                    <match url="^ic_sawoou" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_se2jungmo" stopProcessing="true">
                    <match url="^ic_se2jungmo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_senpuhils" stopProcessing="true">
                    <match url="^ic_senpuhils" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_seojung" stopProcessing="true">
                    <match url="^ic_seojung" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_seokjeong" stopProcessing="true">
                    <match url="^ic_seokjeong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_seonggok" stopProcessing="true">
                    <match url="^ic_seonggok" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_seongjusansw" stopProcessing="true">
                    <match url="^ic_seongjusansw" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_sibjunggansuk" stopProcessing="true">
                    <match url="^ic_sibjunggansuk" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_simbu" stopProcessing="true">
                    <match url="^ic_simbu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_sinnongong" stopProcessing="true">
                    <match url="^ic_sinnongong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_sojung" stopProcessing="true">
                    <match url="^ic_sojung" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_songdo" stopProcessing="true">
                    <match url="^ic_songdo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_taejang" stopProcessing="true">
                    <match url="^ic_taejang" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_unyang" stopProcessing="true">
                    <match url="^ic_unyang" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_uwondang" stopProcessing="true">
                    <match url="^ic_uwondang" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_wanjung" stopProcessing="true">
                    <match url="^ic_wanjung" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_wheelcastle" stopProcessing="true">
                    <match url="^ic_wheelcastle" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_wolgot" stopProcessing="true">
                    <match url="^ic_wolgot" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_won1" stopProcessing="true">
                    <match url="^ic_won1" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_won2" stopProcessing="true">
                    <match url="^ic_won2" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_wonmidong" stopProcessing="true">
                    <match url="^ic_wonmidong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_wonsamo" stopProcessing="true">
                    <match url="^ic_wonsamo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_woojung" stopProcessing="true">
                    <match url="^ic_woojung" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_yeongong" stopProcessing="true">
                    <match url="^ic_yeongong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_yeuksamo" stopProcessing="true">
                    <match url="^ic_yeuksamo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ic_yjkjds" stopProcessing="true">
                    <match url="^ic_yjkjds" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="incheon" stopProcessing="true">
                    <match url="^incheon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="janghyeon" stopProcessing="true">
                    <match url="^janghyeon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="jangunit" stopProcessing="true">
                    <match url="^jangunit" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="jungdong" stopProcessing="true">
                    <match url="^jungdong" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="kimpo" stopProcessing="true">
                    <match url="^kimpo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="kp_geolpo" stopProcessing="true">
                    <match url="^kp_geolpo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="rnavi" stopProcessing="true">
                    <match url="^rnavi" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="sambu" stopProcessing="true">
                    <match url="^sambu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="sauoo" stopProcessing="true">
                    <match url="^sauoo" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="songnae" stopProcessing="true">
                    <match url="^songnae" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="ssss" stopProcessing="true">
                    <match url="^ssss" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="test1" stopProcessing="true">
                    <match url="^test1" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="u_bucheon" stopProcessing="true">
                    <match url="^u_bucheon" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="u_kimpojihoi" stopProcessing="true">
                    <match url="^u_kimpojihoi" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="yeonsu" stopProcessing="true">
                    <match url="^yeonsu" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="yonghak" stopProcessing="true">
                    <match url="^yonghak" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

