<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="test" stopProcessing="true">
                    <match url="^test" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="hanwul" stopProcessing="true">
                    <match url="^hanwul" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
                <rule name="gyesan" stopProcessing="true">
                    <match url="^gyesan" />
                    <action type="Rewrite" url="cafe/main.asp?cafe_id={R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
